<!-- Modal Structure
<div class="modal" [ngClass]="{'show': isModalVisible}" (click)="closeWinning($event)">
    <div class="modal-content" (click)="$event.stopPropagation()">
      <div class="modal-header">
        <h5 class="modal-title">🎉 Congratulations!</h5>
        <span class="close" (click)="closeWinning($event)">&times;</span>
      </div>
      <div class="modal-body text-center">
        <p>🏆 Your team is winning! 🎉 You'll receive some exciting gifts! 🎁</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn" (click)="closeWinning($event)">Okay</button>
      </div>
    </div>
  </div>
   -->

   <H1>Hello dear</H1>